services:
  api:
    container_name: meu-mercado-api
    build: .
    ports: 
     - 3000:3000
    env_file:
     - ./.env
    volumes:
      - .:/app
      - /app/node_modules
    restart: always
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: meu-mercado-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: meu_mercado
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
